.intro__ul {
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.intro__ul li {
  margin: 0.3rem;
}

.code {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  width: fit-content;
  color: rgba(255, 255, 255, 0.742);
  border: 1px solid #e1e1e1;
  background-color: #62acb5;
}

.code::before {
  position: absolute;
  content: "example";
  font-size: 0.6rem;
  color: #e1e1e1;
  left: 2px;
  top: 2px;
}

.split {
  margin-top: 1rem;
}
